<!--<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
&lt;!&ndash;  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>&ndash;&gt;
  <hr>
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
     &lt;!&ndash; <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement">
        <p #contentParagraph>
          <strong
            *ngIf="serverElement.type === 'server'"
            style="color: red;">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>&ndash;&gt;
    </div>
  </div>
  &lt;!&ndash;<app-game-control></app-game-control>&ndash;&gt;
</div>-->
<app-header></app-header>
<router-outlet class="container"></router-outlet>
